@font-face {
    font-family: Ghotam;
    src: url(../fonts/gotham-medium-webfont.woff);
    src: url(../fonts/gotham-medium-webfont.woff2);
    font-weight: normal;
  }

body {
    background-color: red;
    color: white;
    font-family: Ghotam, Arial, Helvetica, sans-serif;

}

ul {
    list-style: none;
    li:hover {
        text-shadow: 0 0 3px white;

    }
}

a {
    text-decoration: none;
    color: white;
}

.flex-spread {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__bar {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.nav__container {
    flex-grow: 1;
    margin: 0 100px;
}

.social__item {
    margin: 20px;
}