@font-face {
    font-family: Ghotam;
    src: url(../fonts/gotham-medium-webfont.woff);
    src: url(../fonts/gotham-medium-webfont.woff2);
    font-weight: normal;
  }

$color-dark: #232323;
$dot-size: 7px;

body {
    // background-color: red;
    color: white;
    font-family: Ghotam, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

ul {
    list-style: none;
    li:hover {
        text-shadow: 0 0 3px white;
    }
}

.social__item  a:hover img,.logo__container a:hover img {
    -webkit-filter: drop-shadow(0 0 5px white);
    filter: drop-shadow(0 0 2px white);
}

.social__item {
    margin: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.flex-spread {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__container {
    position: relative;
}

.slick-dots li button:before {
    content: '' !important;
    height: $dot-size  !important;
    width: $dot-size  !important;
    // color: transparent;
}

.nav-dot, .slick-dots li button:before {
    height: $dot-size;
    width: $dot-size;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
    opacity: 1 !important;
}

.nav-dot {
    margin: 3px $dot-size + 3px 2px 0;
}

.scroll_link:hover .nav-dot {
    background-color: white;
}

.centered {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.centered__text {
    text-align: center;
}

.nav__container {
    flex-grow: 1;
    margin: 0 50px;
}


//Slick styles

.header__bar {
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 40px;
}

.header__carousel{
    max-width: 1600px;
    margin: 0 auto;

.slide1 {
    width: 100%;
    /* max-width: 1000px; */
    margin: 0 auto;
}

.slide1__img {
    width: 1600px;
}

.slick-dots {
    position: absolute;
    display: flex !important; 
    flex-direction: column;
    width: initial;
    top: 50%;
    right: 40px;

    & li {
        margin: 15px 0;
    }
    
}

.slick-active button::before {
    background-color: white;
}

.slide1-elem {
    position: relative;
}

.slide1-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* transform-origin: 50% 50%; */
}

.slide1-title {
    font-size: 50px;
    letter-spacing: 5px;
}
}

.what {
    color: $color-dark;
}

.section__line {
    width: 50px;
    margin: 0 auto;
    hr {
    border: 1px solid black;
    }
}

.section__title {
    font-size: 44px;
}

.section2__container {
    margin: 140px auto;
}

.frame {
    width: 630px;
    height: 470px;
}

.double__image {
    position: relative;
    display: inline-block;
    // max-width: 845px;
    // width: 50%;
    height: 540px;
}

.blue__bg {
    background-color: lightblue;
    z-index: -1;
    position: absolute;
    left: -160px;
    top: -50px;
    // position: absolute;
}

.blue1__bg {
    background-color: skyblue;
    z-index: -1;
    position: absolute;
    left: 160px;
    top: 50px;
    // position: absolute;
}

.img__trade {

    // right: 0;
    // bottom: 0;
}

.section2__post {
    display: inline-block;
    padding: 20px 150px 20px 50px;
    max-width: 600px;
    width: 45%;
    // top: 50%;
    // width: 600px;
}

.news {
    color: white;
    background-image: url(../img/news_bg.png);
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    // margin-top: 50px;
    padding-top: 50px;

    .section__line hr {
        border: 1px solid white;
    }
}

//Slider 2
.slide2 {
    width: 80%;
    /* max-width: 1000px; */
    margin: 0 auto;
}

.slide2-elem {
    height: 520px;
    width: 373px;
    margin: 0 50px;
    background-color: white;
    color: $color-dark;
}

.slide2-text {
    padding: 20px;
    height: 300px;
}